{% extends 'base.html' %}
{% block content %}

{% if category_posts %}
<h1>{{cats}} Category</h1>

{% for post in category_posts %}
    <br>
    <li><a href="{% url 'post' post.pk %}">{{post.title}}</a> -
        {{post.author}} - {{post.posted_on}}

        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <small>
                    <a href="{% url 'update_post' post.pk %}">(Edit)</a> -
                    <a href="{% url 'delete_post' post.pk %}">(Delete)</a></small> <br>
            {% endif %}
        {% endif %}
        <br>
        <img src="{{post.image.url}}" alt="{{post.title}}" width="400" height="400">
        <br><br>
        {{post.description|slice:":200"|safe}}</li>
        <br>
        <small>Click the Post Title to Like or Dislike !!</small>
        <br>
{% endfor %}
{% else %}
<strong>Sorry !! no such category available..</strong>
{% endif %}
{% endblock %}



