{% extends 'base.html' %}
{% load static %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}


<div class="container mt-5 w-50">
    <div class="card">
      <h5 class="card-header">Post Details</h5>
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">By: {{post.author.first_name}} {{post.author.last_name}} - {{post.posted_on}}</p>
          {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <small class="float-right mt-3"> <a href="{% url 'update_post' post.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_post' post.pk %}" class="btn btn-primary">Delete</a></small>
                          <hr>

                {% endif %}
            {% endif %}
          <img class="card-img-top mt-3 mb-3" src="{{post.image.url}}" alt="{{post.title}}">
          <p class="card-text">{{ post.description }}</p>
          <hr>
          <form action="{%url 'like_post' post.pk%}" method="post">
            {% csrf_token %}
                {% if user.is_authenticated %}
                {% if liked %}
                        <button type="submit", name="post_id", value="{{ post.id }}",
                                class="btn btn-danger btm-sm" >Unlike</button>
                {% else %}
                        <button type="submit", name="post_id", value="{{ post.id }}",
                                class="btn btn-primary btm-sm" >Like</button>
                {% endif %}

            {% else %}
                <a href="{% url 'login'  %}">Login</a> to like
            {% endif %}
            - {{total_likes}} Likes
        </form>
          <div>
          <h3>Comments...</h3>
            <hr>
            {% if not post.comments.all %}
                No Comments Yet.....
                <br> <br>
                    <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
                <br>
            {% else %}
                <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
                <br><br>
                {% for comment in post.comments.all %}
                    <strong>{{ comment.name }} - {{ comment.commented_on }}</strong>
                <br>
                {{ comment.comment }}
                <br><br>
                {% endfor %}
                <hr><br>
            {% endif %}
        </div>
      </div>
    </div>

    <br>
    <div class="card mb-1" >
      <div class="row no-gutters">
        <div class="col-md-2">
                {% if post.author.profile.profile.pic %}
                    <img src="{{ post.author.profile.profile_pic.url }} width=100 height=100"  class="card-img">
                {% else %}
                    <img src="{% static 'images/default-profile-picture.png' %}"  class="card-img">
                {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
            <p class="small text-muted">
                <a href="{% url 'user_profile' post.author.profile.id %}">Profile Page</a> |

                    <a href="{{ post.author.profile.instagram_url }}" >Instagram</a>
            <p class="card-text">{{ post.author.profile.bio }}</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <a href="{% url 'home' %}" class="btn btn-secondary float-right mb-3">Go Back</a>
</div>

{% endblock %}
