{% block sidebar %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<!-- Sidebar Widgets Column -->

    <div class="card w-100">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text"> This blog is to share your to share your thoughts.
                        Expose Your talents to the world via our platform</p>
             <h5 class="copyright-text"><span>Copyright &copy; </span> Kavithaikaran Kirukals</h5>
            <ul class="nav">
                <div class="icon"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></div>
                <li><a href="https://instagram.com/kavithaikaaran_kirukkals?igshid=6vgx7ttbsmy4">KavithaiKaran Kirukalgals</a></li>
            </ul>
        </div>
    </div>
{% endblock sidebar %}
