{% extends 'base.html' %}
{% block title %}Password Upadted{% endblock %}
{% block content %}

<h1>Your Password was Changed Successfully ..!!</h1>
<button class="btn btn-link"><a href="{% url 'edit_profile' %}">Okay !!</a>
</button>

<div class="jumbotron">
  <h1 class="display-4">Your Password was Changed Successfully ..!!</h1>
  <hr class="my-4">
  <p>Please enter the new password bt next Login.</p>
  <a class="btn btn-primary btn-lg" href="{% url 'edit_profile' %" role="button">Okay !!</a>
</div>

{% endblock %}



