
{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="container w-50 mt-5">
    <div class="card ml-5">
        <div class="card-header text-center">
            <h4>Register</h4>
        </div>
        <div class="card-body form-group">
            <form method="post" >
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
            <button class="btn btn-primary mt-3">Register </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}