.body {
font-family: "Roboto", sans-serif;
font-size: 18px;
background-color: #fdfdfd;
}
.welcome-message{
    color: grey;
    margin-bottom: 30px;
    margin-top: 50px;
}
.card-body btn btn-primary{
    float-right;
}
.site-heading{
    color: #476b6b;
}

.site-heading p{
    color: #476b6b;
}

. site-heading btn btn-info{
    display: inline-block;
    float: right;
}
.head_text {
color: white;
}

.card{
    margin-top:20px;
    margin-bottom:30px;
    width:700px;
}